*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Questrial', sans-serif;
    background-color: #FCECDE;
}

.contenedor{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.header{
    width: 100%;
    height: 60px;
}


/* Barra de navegacion */
.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    align-content: center; 
    background-color: #FFD2AB;
}

.menu a{
    text-decoration: none;
    margin: 0.85em;
    font-size: 22px;
    padding: auto;
    color: #325C59;
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* Pantalla 1 */
/* Banner principal */

@keyframes galeriaimg{
   
    0%{background-image: url('https://i0.wp.com/hipertextual.com/wp-content/uploads/2016/02/Mi-vecino-Totoro.jpeg?w=1600&ssl=1');}
    60%{background-image: url('https://www.indiewire.com/wp-content/uploads/2020/09/Screen-Shot-2020-09-22-at-8.42.54-AM.png?resize=800,418');}
    75%{background-image: url('https://japonandmore.com/wp-content/uploads/2017/11/grave-of-the-fireflies.jpg');}
    100%{background-image: url('https://i0.wp.com/hipertextual.com/wp-content/uploads/2016/02/Mi-vecino-Totoro.jpeg?w=1600&ssl=1');}

}

.banner{
    width: 100%;
    height: 700px;
    background-size:cover;
    background-repeat:no-repeat;
    background-position-x: center;
    opacity: 80%;
    animation-name: galeriaimg;
    animation-duration: 10s; 
    animation-iteration-count: infinite;
}

.logo-banner{
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100%;
}

.logo-banner img{
    width: 40%;
    margin-top: 0;
    background-color: rgba(209,219,189, 0.6) ;
}

/* Seccion de resumen */
.resumen{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    background-color: #E1D4D4;
    opacity: 0.8; 
    justify-content: space-around;
}

.texto-resumen{
    max-width: 450px;
    font-size: 1.3rem;
    text-align: justify;
    flex-wrap:nowrap;
    margin: 0 1em;
}

.texto-resumen h1 {
    padding-bottom: 2rem;
    color: #325C59;
    text-align: center;
}

.logo-principal{
    max-width: 500px;
    padding: 3% 0 0 0;
}

.logo-principal img{
    max-width: 100%;
}

/* Panel Redes Sociales */
.redes-sociales {
    height: 200px;
    width: 65px;
    background-color: rgba(255, 210,171, 0.6);
    position: fixed;
    bottom: 100px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}

.icono-redes{
    color: rgb(50, 92, 89);
    width: 35px;
}

/* Pantalla 2 */

#galeria-animaciones{
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 85vh;
}

#entrada-busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5%;
}

#input-filtro{
    height: 30px;
    width: 25%;
    justify-content: center;
    margin-top: 0;
    border-radius: 8px;
    padding: 5px 20px;
    font-size: 1em;
    border-color: rgb(50, 92, 89);
    border-style: solid;
}

*:focus {
    outline: none;
}

#animaciones{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap; 
    justify-content: center;
}

/* Tarjetas de animaciones */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
    margin: 65px;
    position: relative;
    max-width: 100%;
    cursor: pointer;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 30px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-front img {
    width: 100%;
    height: 400px;
    border-radius: 30px;
}

.flip-card-back {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(211, 185, 185);
    color: white;
    transform: rotateY(180deg);
    border-radius: 30px;
    align-items: center;
}

.flip-card-back h1{
    font-family: 'Questrial', sans-serif;
    color: #325C59;
    font-size: large;
    padding: 20px;
    text-align: center;
    padding-left: 20px; 
    padding-top: 10px;
    padding-right: 20px;
}

.flip-card-back p {
    text-align: center;
    font-family: 'Questrial', sans-serif;
    color: #325C59;
    font-size: medium;
    padding: 10px 20px 0 20px;
}

.flip-card .description{
    text-align: justify;
    font-family: 'Questrial', sans-serif;
    color: #325C59;
    font-size: small;
    padding-left: 20px; 
    padding-top: 10px;
    padding-right: 20px;
}

.flip-card-back button{
    background-color: #325C59;
    color: white;

}

/* Panel Ordenar */
.filtros-busqueda {
    height: 200px;
    width: 65px;
    background-color: rgba(255, 210,171, 0.6);
    position: fixed;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}

.icono-filtros{
    color: rgb(50, 92, 89);
    width: 30px;
}


/* Secci칩n pelicula individual */

#pag-informacion-peliculas{
    display: flex;
    flex-direction: column;
}

#poster-descripcion{
    display: flex;
    flex-wrap: wrap;
    padding: 4%;
    
    opacity: 0.8; 
    justify-content: space-evenly;
}

.poster-principal{
  display: flex;
  justify-content: center;
}

.poster-principal img{
    display: flex;
    justify-content: center;
    border-radius: 30px;
    border: 1px solid #325C59;
    width: 200px;
    height: 300px;
}

.texto-descripcion{
    display: flex;
    width: 200px;
    font-size: 1rem;
    flex-direction: column;
    background-color: #E1D4D4;
    border-radius: 10px;
    justify-content: space-evenly;
    padding: 1rem;
}

.texto-descripcion li {
    padding-bottom: 2rem;
    color: #325C59;
    text-align:left;
    font-weight:bolder;
    display: flex;

}
/* Secci칩n pelicula individual botones de busqueda*/
.btn-location-vehicles-personajes{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    flex-wrap: wrap;
}

.button {
    
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family:'Questrial', sans-serif;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #325C59;
}

.button1:hover {
    background-color: #325C59;
    color: white;
}

/* Carrusel*/

body {
    width: 100%;
    padding: 0;
    margin: 0;
}
.img-slider__container-1 {
    display: flex;
    column-gap:0px;
    width: 100%;
    overflow-x:scroll;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 70px;
    overflow-y:hidden;
    height: 185px;
    }
    .img-items {
        width: 100%;
    }
    .img-active {
        transform: translateX(-100%);
    }

.img-carrusel{
    width: 140px;
    height: 140px;
    border-radius: 110px;
    padding: 10px;
    transition: .5s ease-in-out;
}

.img-carrusel:hover{
    width: 140px;
    height: 140px;
    border-radius: 110px;
    position: relative;
    padding: 0px;
    transform: scale(1.1);
}

.btn-seleccion{
    border-radius: 30px;
    width: 100px;
    background-color: #325C59;
}



/*pagina seleccion personje vehiculo y locaci칩n*/


.poster-personaje {
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster-personaje img{
    display: flex;
    justify-content: center;
    max-width: 100%;
    border-radius: 100px;
    border: 1px solid #325C59;
    width: 140px;
    height: 140px;
}

#pagina-individual-seleccion{
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}


/* Pie de p치gina */
.texto-footer{
    background-color: #FFD2AB;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-footer p{
    text-align: center;
    color: #325C59;
}